<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>A Calendar for Mars</title>

    <!-- Bootstrap core CSS -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/theme.css" rel="stylesheet">

  </head>

  <body role="document">
    <div id="marstime">  <!-- begin marstime -->

        <!-- Fixed navbar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            <a class="navbar-brand" href="#calendar">A Calendar for Mars</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li id="calendar"><a href="#calendar">Mars needs a Calendar</a><li>
                <li id="calculate"><a href="#calculate">Calculating a Martian Date</a></li>
                <li id="history"><a href="#history">Great Dates in Martian History</a></li>
                <li id="areogator"><a href="#areogator">The Mars Areogator</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Mars Links<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="http://en.wikipedia.org/wiki/Timekeeping_on_Mars/">Wikipedia - Timekeeping on Mars</a></li>
                    <li><a href="http://www.giss.nasa.gov/tools/mars24/">NASA - Mars24 Sunclock : Time on Mars</a></li>
                    <li><a href="http://www.giss.nasa.gov/tools/mars24/help/algorithm.html/">NASA - Mars Time Keeping Algorithms</a></li>
                    <li><a href="http://www.erbzine.com/mag16/1630.html">Marking Time on Burroughs' Barsoom</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Martian Exploration and Settlement</li>
                    <li><a href="http://www.marssociety.org/">The Mars Society</a></li>
                    <li><a href="http://chapters.marssociety.org/usa/oh/">The Mars Society - Ohio Chapter</a></li>
                    <li><a href="http://mars.nasa.gov/mer/home/">JPL - Mars Exploration Rovers</a></li>
                    <li><a href="http://mars.jpl.nasa.gov/msl/">JPL - Mars Science Laboratory</a></li>
                  </ul>
                </li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </nav>

        <!-- Backbone.js Article Views are displayed here -->
        <div id="article">
        </div>
        <!-- Backbone.js Article Views are displayed here -->

    </div> <!-- end marstime -->

    <!-- Backbone Templates -->
    <script type="text/template" id="calendar-template">
        {% include "calendar_index_backbone.html" %}
    </script>

    <script type="text/template" id="calculate-template">
        {% include "calendar_calculate_backbone.html" %}
    </script>

    <script type="text/template" id="history-template">
        {% include "calendar_history_backbone.html" %}
    </script>

    <script type="text/template" id="areogator-template">
        {% include "calendar_areogator_backbone.html" %}
    </script>
    <!-- Backbone Templates -->

    <!-- bootstrapped data for intialization of Backbone tabs collection -->
    <script>
        var tabsData = [
            {el: $("#calendar"),  id: "calendar",  active: true},
            {el: $("#calculate"), id: "calculate", active: false},
            {el: $("#history"),   id: "history",   active: false},
            {el: $("#areogator"), id: "areogator", active: false}
        ];
    </script>

    <!-- create the backbone app -->
    <script data-main="static/js/main" src="static/js/lib/require.js"></script>

  </body>
</html>

