    <!-- twitter card tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@pokeyjoey">
    <meta name="twitter:title" content="A Calendar for Mars">
    <meta name="twitter:description" content="Mars needs a calendar - using Earth dates just won't do. If I tell you it is February 1, you know that it is freezing in Minneapolis and high summer in Sydney, but what does it tell you about conditions on Mars?">
    <meta name="twitter:image" content="http://i920.photobucket.com/albums/ad46/jkeauctions/a-Mission-to-Mars-Pic-06_zps5cfsl7wa.jpg">
    <!-- end twitter card tags -->
